.left {
  min-height: 100vh;
}

.right {
  min-height: 100vh;
  background-color: #282c34;
  padding: 20px;
}

.copy_btn {
  position: absolute;
  right: 0;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

textarea {
  min-height: 100px;
  padding: 5px;
}