<mat-tab-group>
  <mat-tab label="Default page">
    <div class="default" fxLayout="row">
      <div class="left" fxFlex="50%">
        <form [formGroup]="dynamicForm">
          <mat-stepper orientation="vertical" #stepper formArrayName="sections">
            <mat-step [stepControl]="getControl(i)" *ngFor="let section of getControls(); let i = index">
              <div [formGroupName]="i">
                <ng-template matStepLabel>section</ng-template>
                <div fxLayoutGap="10px">
                  <mat-label fxFlex="50%">Section ID</mat-label>
                  <input fxFlex="50%" matInput type="number" formControlName="sectionId" fxFlex="15%">
                </div><br>
                <div fxLayoutGap="10px">
                  <mat-label fxFlex="50%">Section Name</mat-label>
                  <input fxFlex="50%" matInput formControlName="sectionName">
                </div><br>
                <div fxLayoutGap="10px" fxLayout="column">
                  <mat-label>Details</mat-label>
                  <textarea placeholder="Ex: title:'this is a title',subtitle:'this is a subtitle'"
                    (keydown.enter)="onEnterPressed($event)" matInput formControlName="details"></textarea>
                </div>
                <div fxLayoutGap="10px" fxLayout="column">
                  <mat-label>Selector Details</mat-label>
                  <textarea (keydown.enter)="onEnterPressed($event)" matInput
                    formControlName="selectorDetails"></textarea>
                </div>
                <div fxLayoutGap="10px" fxLayout="column">
                  <mat-label>Sample Data</mat-label>
                  <textarea (keydown.enter)="onEnterPressed($event)" matInput formControlName="sampleData"></textarea>
                </div>
              </div>
            </mat-step>
          </mat-stepper>
          <button mat-raised-button (click)="createSection(getControls().length+1)">ADD ONE</button>
        </form>
        <button mat-raised-button (click)="getObj()">GENERATE</button>
      </div>
      <div class="right" fxFlex="50%">
        <button mat-icon-button color="accent" class="copy_btn"
          [cdkCopyToClipboard]="display"><mat-icon>file_copy</mat-icon>
        </button>
        <pre><code [highlight]="display"></code></pre>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Page Editor">
    <div class="editor" fxLayout="row">
      <div class="left" fxFlex="50%"></div>
      <div class="right" fxFlex="50%"></div>
    </div>
  </mat-tab>
</mat-tab-group>




<!-- <mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="i">
    <div [formGroupName]="i">
      <div fxLayoutGap="10px">
        <mat-label>Section ID</mat-label>
        <input matInput type="number" formControlName="sectionId" fxFlex="5%">
      </div>
      <div fxLayoutGap="10px">
        <mat-label>Section Name</mat-label>
        <input matInput formControlName="sectionName">
      </div>
      <div fxLayoutGap="10px">
        <mat-label>Details</mat-label>
        <textarea matInput formControlName="details"></textarea>
      </div>
      <div fxLayoutGap="10px">
        <mat-label>Selector Details</mat-label>
        <textarea matInput formControlName="selectorDetails"></textarea>
      </div>
      <div fxLayoutGap="10px">
        <mat-label>Selector Details</mat-label>
        <textarea matInput formControlName="sampleData"></textarea>
      </div>
    </div>
  </mat-step>
</mat-stepper> -->