.form {
  padding: 40px;
}

.add-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.code {
  min-height: 300px;
  width: 100%;
}

.inside {
  min-height: 250px;
  max-height: 250px;
}