.main-container {
  background: url(../../../../assets/bg.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  .content-container {
    min-height: 100vh;
    background-color: rgba(225, 225, 225, 0.5);
    -webkit-backdrop-filter: blur(55px);
    backdrop-filter: blur(55px);
    padding: 20px;

    .add-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 100;
    }
  }

}

.copy_btn {
  position: absolute;
  right: 0;
}

.capFirst {
  text-transform: capitalize;
}

code {
  padding: 10px;
}