.main-container {
  padding: 10px;
  padding-top: 20px;
}

.card {
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
  margin-inline: 10px;
  background: linear-gradient(to right, #6d6bff, #ff94ff);
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.feedback {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mat-mdc-raised-button.my {
  background-color: gray;
  color: white;
}

.dialog {
  padding-inline: 10px;
}

.count {
  font-size: 25px;
  color: gray;
}

.spaces {
  flex: 1 1 auto;
}

.arrow {
  transform: rotate(80deg);
  position: absolute;
  right: 30px;
  border: 10px;
}
