.main-container {
  padding: 10px;
  padding-top: 20px;
}

.card {
  height: 100px;
  margin-bottom: 20px;
  margin-inline: 10px;
  background-color: rgba(147, 206, 255, 0.644);
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

.feedback {
  position: absolute;
  bottom: 10px;
  right: 10px;
}