<mat-toolbar></mat-toolbar>
<div fxLayoutAlign="center center">
  <div class="main-container" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div class="card" matRipple matRippleColor="accent" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center">
      Angular Class Videos
      <mat-icon>play_circle</mat-icon>
    </div>
    <div class="card" matRipple fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Node Class Videos
      <mat-icon>play_circle</mat-icon>
    </div>

    <div class="card" matRipple routerLink="/cheatsheet" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center">
      Angular
      cheatsheet</div>
    <div class="card" matRipple fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Node
      cheatsheet</div>
  </div>
</div>
<button class="feedback" mat-raised-button color="primary"><mat-icon>feedback</mat-icon>Feedback</button>