<mat-toolbar>
  <h3>CHEATSHEET</h3>
</mat-toolbar>
<div fxLayoutAlign="center center">
  <div class="main-container" fxLayout="row wrap" fxLayoutAlign="space-between start">
    <a class="card" matRipple matRippleColor="accent" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center"
      href="https://drive.google.com/drive/folders/1cTWpLz7wWah_DFnqct9s9s1eH94mc_Jt?usp=share_link" target="_blank">
      Angular Class Videos
      <mat-icon>play_circle</mat-icon>
    </a>
    <div class="card" matRipple fxFlex="30%" mat-button fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center">
      Node Class Videos
      <mat-icon>play_circle</mat-icon>
    </div>

    <div class="card" matRipple [routerLink]="['/cheatsheet','angular']" fxFlex="30%" fxFlex.lt-md="45%"
      fxFlex.lt-sm="95%" fxLayoutAlign="space-around center">
      Angular
      cheatsheet</div>
    <div class="card" matRipple [routerLink]="['/cheatsheet','node']" fxFlex="30%" fxFlex.lt-md="45%" fxFlex.lt-sm="95%"
      fxLayoutAlign="space-around center">
      Node
      cheatsheet</div>
  </div>
</div>
<button class="feedback" mat-raised-button color="primary"><mat-icon>feedback</mat-icon>Feedback</button>